/cmake-build-debug
/cmake-build-debug-linux
/cmake-build-minsizerel
/cmake-build-minsizerel-linux
/cmake-build-release
/cmake-build-release-linux
/cmake-build-relwithdebinfo
/cmake-build-relwithdebinfo-linux